.form-group {
    @apply block mb-4 text-sm;
}

.form-group .label {
    @apply text-gray-700 dark:text-gray-400 mb-1;
}

.form-control {
    @apply block
        w-full
        text-sm
        dark:border-gray-600
        dark:bg-gray-700
        focus:border-primary-400
        focus:outline-none
        focus:shadow-outline-primary
        dark:text-gray-300
        dark:focus:shadow-outline-gray
        form-input;
}

.search-form {
    @apply block
        w-full
        rounded-md
        py-2
        pl-10
        pr-3
        text-sm
        dark:border-gray-600
        dark:bg-gray-700
        focus:border-primary-400
        focus:outline-none
        focus:shadow-outline-primary
        dark:text-gray-300
        dark:focus:shadow-outline-gray;
}

.select {
    @apply block w-full text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-primary-400 focus:outline-none focus:shadow-outline-primary dark:focus:shadow-outline-gray
}

.checkbox {
    @apply text-primary-600 form-checkbox focus:border-primary-400 focus:outline-none focus:shadow-outline-primary dark:focus:shadow-outline-gray;
}
